<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"
            integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <title>Worky test</title>

    <style>
        .books-form {
            padding: 10px;
            margin-bottom: 10px;
            border: 1px solid lightgray;
            border-radius: 5px
        }

        .vertical-center {
            display: flex;
            align-items: center;
        }
    </style>
</head>
<body>
<div class="jumbotron vertical-center">
    <div class="container">
        {% block title %}
            <h1>Worky test</h1>
        {% endblock title %}
    </div>
</div>
<div class="container">
    {% block content %}
        <form action="/users/" method="post">
            <label for="username">Username: </label>
            <input id="username" type="text" name="username" value="{{ username }}">
            <br>
            <label for="password">Password: </label>
            <input id="password" type="password" name="password" value="{{ password }}">
            <br>
            <label for="email">Email: </label>
            <input id="email" type="email" name="email" value="{{ email }}">
            <br>
            <label for="firstName">First name: </label>
            <input id="firstName" type="tefirstNamext" name="firstName" value="{{ firstName }}">
            <br>
             <label for="lastName">Last name: </label>
            <input id="lastName" type="text" name="lastName" value="{{ lastName }}">
            <br>
            <input type="submit" value="Submit">
        </form>
    {% if user_list %}
        <br><br>
        <div class="container">
            <h2>Users</h2>
            <ul>
                {% for user in user_list %}
                    <li><a href="/users/{{ user.pk }}">{{ user.username }}</a></li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
    {% endblock content %}
</div>

</body>
</html>